.registration-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('nature_lake_bg.jpeg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('login_bg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
}

.card {
  border-radius: 8px;
  .card-header{
    h1 {
      text-align: center;
    }
    border-bottom: none;
  }
  .card-footer{
    border-top: none;
  }
}

